In [4]:
#function defination
def pythagoras(base,perpendicular):
    return (base**2+perpendicular**2)**0.5

In [5]:
#calling
pythagoras(4,5)

6.4031242374328485

lambda experessions-for making anonymous functions(1 line function)

In [6]:
f=lambda x:x**2+2*x+1
print(f(2))

9

In [7]:
g=lambda x,y:x**2+2*x*y+y**2
print(g(2,3))

25

In [9]:
py=lambda b,p:(b**2+p**2)**0.5
print(py(2,3))

3.605551275463989

In [12]:
ar_of_tri=lambda b,h:(b*h)*0.5
print(int(ar_of_tri(2,3)))

3

In [13]:
#what is the amt after 16% discount on 12000
12000-((12000*16)/100)

10080.0

In [23]:
p=[10000,30000,12999,50000,43999,10500]
dis_prices=[]
for i in p:
    x=int((i-((i*16)/100)))
    print("Dicount amt for",i,"is",x)
    dis_prices.append(x)    
print("original price:",p)
print("Discounted price:",dis_prices)

Dicount amt for 10000 is 8400
Dicount amt for 30000 is 25200
Dicount amt for 12999 is 10919
Dicount amt for 50000 is 42000
Dicount amt for 43999 is 36959
Dicount amt for 10500 is 8820
original price: [10000, 30000, 12999, 50000, 43999, 10500]
Discounted price: [8400, 25200, 10919, 42000, 36959, 8820]

In [24]:
list(map(lambda p:(p-((p*16)/100)),p))

[8400.0, 25200.0, 10919.16, 42000.0, 36959.16, 8820.0]

In [26]:
x=[1,2,3,45,6,7,8,7,6]
y=list(map(lambda x:(x**2),x))
print("Square of no is",y)

Square of no is [1, 4, 9, 2025, 36, 49, 64, 49, 36]

In [7]:
def fun(arr):
    s=0
    for i in arr:
        s=s+i
    return s
    
arr=[1,2,3,4]
fun(arr)

10