
### for and while loop

### for- step based loop



```
for i in range(10)
 print(i)
```                  
### used for
            - iterating over sequence(list,tuple,string)
            - iterating over a range

### in data analytics we used for loop mainly

### while- condition based loop
```
i=0
whilei<10:
    print(i)
    i+=1 
```
                 - used for 
                           - iterating until a condition is met
                           - iterating until a cond is no longer me
                           - iterating forever(if u dont break out of it)

In [4]:
movies=['uri','shershah','the kerela story','kashmiri files','super 30','tarre zameen par','the conjuring','terminator2','the london files','terminator']
###print(f'total movies ={len(movies)}')
len(movies)

10

In [6]:
for movie in movies:
    print(movie)

uri
shershah
the kerela story
kashmiri files
super 30
tarre zameen par
the conjuring
terminator2
the london files
terminator

In [12]:
for movie in movies:
    print(movie, len(movie))
    ###print(f'movie name={movie:50} lenght of the movie = {len(movie)}')

uri 3
shershah 8
the kerela story 16
kashmiri files 14
super 30 8
tarre zameen par 16
the conjuring 13
terminator2 11
the london files 16
terminator 10

In [13]:
nums=[23,45,56,76,54,66,56,556,4]
for i in nums:
    print(i)

23
45
56
76
54
66
56
556
4

In [18]:
total_odd=0
for i in nums:
    if(i%2!=0):
       print('square of',i,'is',i**3)
       total_odd +=i
print(total_odd)

square of 23 is 12167
square of 45 is 91125
68

In [20]:
for i in nums:
    ###print(i)
    if i>50:
        break
    print(i)

23
45

In [23]:
x=['apple','mango','banana','','orange','grapes']
for item in x:
    print(item)
    ###if item=='':
    ###if len(item)==0:
    if not item:
        break

apple
mango
banana

In [24]:
errors=0
while True:
    username= input('enter username:')
    password= input('enter the password:')
    if username== 'admin' and password=='secret':
        print('login successfully')
        break
    elif errors==3:
        print('to many errors')
        break
    else:
        print('invalid user name/password')
        errors+=1

invalid user name/password
login successfully